<tr class="align-middle">
  <th scope="row">
    {{producto.id}}
  </th>
  <td>
    {{producto.title}}
  </td>
  <td>
    $
    {{producto.price}}
  </td>
  <td>
    <img
      style="height: 4rem"
      class="mh-100"
      src="{{producto.thumbnail}}"
      alt="{{producto.title}}"
    />
  </td>
</tr>